*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #5e6c7a;
    background-size: cover;
    background-position: center;
    height: 18vh;
}

body{
    background-color: rgb(55,55,55,55);
}

ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
    margin-right: 25px;
}

ul li{
    display: inline-block; 
    margin: 5px;
    margin-top: 4vh;
}

ul li a{
    text-decoration: none;
    color: white;
    padding: 7px 27px;
    border: 1px solid rgb(255, 255, 255) transparent;
    border-radius: 5px;
    transition: 1s ease;
    box-shadow: 0 0 15px rgba(0,0,0,1);
}

ul li a:hover{
    background: #afafaf;
    color: #000000;
    box-shadow: 0 0 15px #9d9d9d;
    transform: scale(0);
    z-index: 1;
    border-radius: 7px;
}

ul li:hover {
    transform: scale(1);
    transition: 0.5s;
}

.logo img{
    float: left;
    width: 175px;
    height: auto;
}

.main{
    max-width: 1500px;
    margin: auto;
}
#SHints{
    background-image:url(./SHints.png);
    background-repeat:no-repeat;
    float: right;
    right: 5px;
    position: absolute;
    top: 200px;
    color:springgreen;
    width: auto;
    opacity: 0.7;
    border-inline-style: solid;
    border-inline-color: pink lightblue;
  
}

#PHints{
    background-image:url(./PHints.png);
    float: left;
    left: 5px;
    position: absolute;
    top: 750px;
    color: goldenrod;
    width: auto;
   opacity: 0.8;
   border-inline-style: solid;
   border-inline-color: pink lightblue;

}

#FHints{
    background-image:url(./FHints.png);
    background-repeat:no-repeat;
    float: left;
    left: 5px;
    position: absolute;
    top: 200px;
    color: red;
    width: auto;
    opacity:0.7 ;
    border-inline-style: solid;
    border-inline-color: pink lightblue;

}
